* {
  margin: 0;
  padding: 0;
  font-family: "Lora", serif;
  box-sizing: border-box;
}
body {
  background-color: #0c0c0c;
  color: #f6f2f2;
}
.container {
  margin: 50px;
}

nav {
  height: 40px;
  margin: 5px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.navbar ul {
  display: flex;
  gap: 8px;
  list-style: none;
}
.navbar ul li {
  padding: 0 15px;
  font-size: 18px;
}

.brand-name {
  font-size: 16px;
  padding: 10px;
  border: 2px solid #fff;
}
.underlined-word {
  padding-bottom: 5px;
  /* text-decoration: underline; */
  border-bottom: 3px solid #fff;
}

.navbar-active {
  display: none;
}
main {
  width: 100%;
  margin: 100px 0 50px;
}
#container-div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  column-gap: 10%;
}
.content-section {
  display: flex;
  flex-direction: column;
  text-align: left;
  row-gap: 35px;
}
.content-section h1 {
  font-size: 48px;
}
.content-section p {
  font-size: 24px;
  width: 95%;
}
.content-section h3 {
  font-size: 16px;
}
/* 1 vw = 4.8px
10vw =48px 
5vw=24px
3.3vw=15.8px*/
.image-section {
  min-width: 400px;
  position: relative;
}

.image-section > img {
  width: 100%;
}

.sub-section {
  background-color: #000;
  min-width: 270px;
  position: absolute;
  bottom: -50px;
  right: 15px;
}
.designer {
  height: 100%;
}
#designer-profile {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: flex-start;
  margin: 5px 25px;
}
#designer-profile > img {
  max-width: 55px;
  height: 55px;
  border-radius: 100%;
  margin-right: 5px;
}
.sub-section h3 {
  font-size: 16px;
  margin-left: 25px;
}
.sub-section h4 {
  font-size: 12px;
}
.sub-section h6 {
  font-size: 10px;
}

.photo-name {
  display: flex;
  align-items: center;
}
footer {
  text-align: center;
}

.close-btn {
  display: none;
  margin-right: 10px;
}
.toggle {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  right: 50px;
  top: 50px;
  z-index: 1;
}

.toggle div {
  background-color: rgb(250, 246, 246);
  width: 30px;
  height: 5px;
  margin: 4px 0;
}

.sidebar {
  width: 100vw;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  top: 0;
  left: -100vw;
  background-color: #000;
  margin: 0px;
  z-index: 1;
}
.sidebar ul li {
  font-size: 18px;
  color: #fff;
  list-style: none;
  text-decoration: none;
  padding: 15px 0px;
  display: block;
}
.sidebar.active {
  left: 0vw;
}

.close-btn {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 55px;
  z-index: 3;
}
.close-btn div {
  background-color: rgb(255, 255, 255);
  width: 35px;
  height: 5px;
  margin: 3px;
  position: relative;
}
.crossline-1 {
  transform: rotate(45deg);
}
.crossline-2 {
  position: absolute;
  top: -8px;
  left: 0;
  transform: rotate(-45deg);
}
.grey-text {
  color: grey;
}
.username {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .container {
    margin: 50px 5px;
  }
  .toggle {
    right: 15px;
  }

  .navbar {
    display: none;
    position: relative;
  }
  #container-div {
    flex-direction: column;
  }
  .navbar-active {
    display: block;
  }
  main {
    margin: 25px 0;
  }

  .content-section {
    row-gap: 15px;
    margin: 25px 0;
    width: 100%;
  }

  .content-section > p {
    width: 85%;
    font-size: 14px;
  }
  .content-section h1 {
    font-size: 38px;
  }

  .content-section h3 {
    font-size: 10px;
  }
  .image-section {
    min-width: 100%;
  }

  .sub-section {
    right: 25px;
    min-width: 200px;
  }
  #designer-profile > img {
    max-width: 45px;
    height: 45px;
  }
  .sub-section h3 {
    font-size: 14px;
  }
  .sub-section h4 {
    font-size: 10px;
  }
  .sub-section h6 {
    font-size: 10px;
  }
  footer {
    margin: 100px 0 0;
  }
}
